<div class="row"
 style=" 
    width: 100%;
    display: inline;
    font-family: cursive;">
  <div class="col-12 display">
      <h4 class="text-center mt-4 mb-5 p-3 card azure">    
        Welcome to the game xo</h4>
        <div class="col-12" style="display:flex ;">
          <div class="col-6">
            <button class="btn btn-dark" (click)="start()">Start</button>
            <button *ngIf="isStarted" class="btn btn-dark ml-1" (click)="reset()">Reset</button>
          </div>
          <div class="col-5 text-right" >
            <p>your turn {{player}}</p>
          </div>
        </div>
    <div id="start" class="col-6 m-auto d-flex disableClick ">
      <div class="col-3 " *ngFor="let item of game , let i =index" >
        <div>
            <input  [id]="'p' + i" (click)="move($event)" class="btn btn-light mt-2"  style="background-color: darkgray !important;" type="button">
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>